<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- サーブレットの登録 -->
     <servlet>
        <servlet-name>submitservlet</servlet-name>
        <servlet-class>/GitInputServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>submitservlet</servlet-name>
        <url-pattern>/GitInputServlet</url-pattern>
    </servlet-mapping>
</web-app> 